@{
    Layout = null;
}
@model WXLWeb.ViewModels.ArticleRead
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="Shortcut Icon" href="/Images/title.ico" />
    <title>@Model.article.Title</title>
    <link href="~/Content/Base.css" rel="stylesheet" />
     <script src=" http://libs.baidu.com/jquery/1.11.1/jquery.min.js "></script>
    <script src="~/Scripts/MyJs.js"></script>
</head>
<body onload="duoshuoMessageBoard()">
    @{Html.RenderPartial("Head");}
     <div id="l_top">
    
    </div>
    <div id="nav_txt"><div id="nav_txt_left">当前位置:<span class="sp_blank"></span><a href="@Url.Action("Index","Home")">首页</a><span class="sp_blank"></span>><span class="sp_blank"></span><span class="txtDefault">随笔分享</span>
       </div><div id="nav_txt_right">分享使人快乐~</div><div class="clear"></div>
    </div>
    <div id="s_body">
        <div id="s_body_left">
          <div class="sb_goback"><a href="javascript:window.history.go(-1);">返回</a></div>
              <div class="sb_Title"><a href="javascript:void(0);">@Model.article.Title</a></div>
            <div class="sb_info">
                发布时间:<span class="sp_blank"></span>@Model.article.CreateTime&nbsp;编辑:<a href="javascript:void(0);">@Model.article.UserName</a>&nbsp;
                阅读(@Model.article.LookNum)
            </div>
            <div class="sb_tag">
                @if(Model.tags.Count>0)
                {
                    foreach (var ts in Model.tags)
                    {
                <a class="sb_tag_a" href="javascript:void(0);">@ts.TagName</a>
                }
                } </div>
             <div class="sb_content">
                @ViewBag.ContentTxt
             </div>
            <!-- JiaThis Button BEGIN -->
    <div class="jiathis_style" style="margin-top:10px">
	<span class="jiathis_txt">分享到：</span>
	<a class="jiathis_button_tools_1"></a>
	<a class="jiathis_button_tools_2"></a>
	<a class="jiathis_button_tools_3"></a>
	<a class="jiathis_button_tools_4"></a>
	<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
	<a class="jiathis_counter_style"></a>
        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<!-- JiaThis Button END -->
</div>
            <div class="clear"></div>
            <div class="ds-thread" data-thread-key="@Model.article.ArticleId" data-title="文章评论" data-url="www.wxiaolong.com"></div>
            </div>
     <div id="s_body_right">

         <h2 style="text-align:center">分类</h2>
         <p style="margin-left:10px;"><a href="javascript:void()">1.ASP.NET</a></p>
           <p style="margin-left:10px;"><a href="javascript:void()"2.>ASP.NET MVC</a></p>
          <p style="margin-left:10px;"><a href="javascript:void()">3.EF</a></p>
         <p style="margin-left:10px;"><a href="javascript:void()">4.HTML5</a></p>
         <p style="margin-left:10px;"><a href="javascript:void()">5.CSS3</a></p>
           <p style="margin-left:10px;"><a href="javascript:void()">6.Bootstrap</a></p>
         <p style="margin-left:10px;"><a href="javascript:void()">7.Jquery</a></p>
          <p style="margin-left:10px;"><a href="javascript:void()">8.Linq之路</a></p>
          <p style="margin-left:10px;"><a href="javascript:void()">9.EasyUI</a></p>
     </div>
     <div class="clear"></div>
     </div> 
</body>
</html>
