 <div id="head">
        <div id="head_title">
           <div id="z_head_left"> <img style="width:100px;height:50px;" src="~/Images/mylogo.gif" /></div>
        </div>
        <div id="nav_div">
            <ul id="nav_ul">
                <li><a id="nav_ul_index" href="@Url.Action("Index")">主页</a> </li>
@*                <li ><a id="nav_ul_skill href="@Url.Action("Skill")">技术分享</a> </li>*@
                <li ><a id="nav_ul_learn"   href="@Url.Action("Learn")">学海无涯</a></li>
                 <li ><a id="nav_ul_life"  href="@Url.Action("Life")">生活记录</a></li>
                    <li><a id="nav_ul_aboutme"  href="@Url.Action("AboutMe")">关于我</a></li>
                <li><a id="nav_ul_messageboard"  href="/Home/MessageBoard">留言板</a></li>
                   </ul> 
        </div>
    </div>