@{
    Layout = null;
}

<!DOCTYPE html>
@model WXLWeb.ViewModels.AlterArticleView 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>随笔修改</title>
       <script src="~/Plug/Ueditor/third-party/SyntaxHighlighter/shCore.js"></script>
     <!-- 配置文件 -->
   <script src="~/Plug/Ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script src="~/Plug/Ueditor/ueditor.all.min.js"></script>
   <!-- 实例化编辑器 -->
    <script type="text/javascript">
        window.onload = function () {
            //initialFrameWidth这个参数是宽跟当前窗口自动改变大小
            var ue = UE.getEditor('container', { initialFrameWidth: null });
        }
        $(function () {
            SyntaxHighlighter.highlight();
        });
    </script>
</head>
<body>
    @using (Html.BeginForm("AlterArticle", "WebManagement", FormMethod.Post))
    { 
        @Html.HiddenFor(a=>a.article.ArticleId)
        @Html.HiddenFor(a=>a.article.ArticleId2)
       <p >标题:@Html.TextBoxFor(a=>a.article.Title)</p>
    <p>正文:</p>
    <div>
       <!-- 加载编辑器的容器 -->
    <script id="container" name="content" style="max-width:800px;" type="text/plain">
        @ViewBag.content 
    </script>
    </div>
       <p>类别:
           @if(Model.article.Type1==1)
           {
           @Html.RadioButtonFor(a => a.article.Type1, 1, new { @checked = "true"})<span>技术篇</span> 
           @Html.RadioButtonFor(a => a.article.Type1, 2)<span>生活篇</span> 
           @Html.RadioButtonFor(a => a.article.Type1, 3)<span>学海无涯</span>
           }
           else if( Model.article.Type1==2)
           {
                @Html.RadioButtonFor(a => a.article.Type1, 1)<span>技术篇</span> 
           @Html.RadioButtonFor(a => a.article.Type1, 2,new { @checked = "true"})<span>生活篇</span> 
           @Html.RadioButtonFor(a => a.article.Type1, 3)<span>学海无涯</span>
           }
           else if (Model.article.Type1 == 3)
           {
                @Html.RadioButtonFor(a => a.article.Type1, 1)<span>技术篇</span> 
           @Html.RadioButtonFor(a => a.article.Type1, 2)<span>生活篇</span> 
           @Html.RadioButtonFor(a => a.article.Type1, 3,new { @checked = "true"})<span>学海无涯</span> 
           }

       </p>
       <p>分类:@Html.TextBoxFor(a=>a.article.Type2)</p>
       <p>标签:@Html.TextBoxFor(a=>a.tags,new {style="width:200px;"})
           <span style="font-size:12px; font-family:'宋体';color:#808080">多个标签用","隔开.如:html,css</span></p>
       <p style="padding-left:40px;"><input type="submit" value="提交修改" />&nbsp;<a href="javascript:window.history.go(-1);">取消</a></p>
    }
</body>
</html>
